<h1>Pages#answer</h1>
<p>Find me in app/views/pages/answer.html.erb</p>

  <h2 class="text-center"> Your coach</h2>
  <p> <em>His answer:</em> <%= @answer[:answer] %> </p>


  <%= link_to "ask for a new question", ask_path %>
